@using MvcStok.Models.Entity
@model Urun;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("Ekle", "Urun", FormMethod.Post))
            {
                <div class="form-group">
                    <h3>Ürün Ekle</h3>

                    @Html.LabelFor(m => m.UrunAd, "Ürün Adı:")
                    @Html.TextBoxFor(m => m.UrunAd, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(m => m.UrunKategori, "Ürün Kategorisi:")
                    @Html.DropDownListFor(m=>m.UrunKategori,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})
                    <br />
                    @Html.LabelFor(m => m.Stok, "Ürün Stoğu:")
                    @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(m => m.Fiyat, "Ürün Fiyatı:")
                    @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>
