@using MvcStok.Models.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<SatisViewModel>;
<h2>Satışlar</h2>

<table class="table">
    <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col" colspan="2">Ürün</th>
        <th scope="col" colspan="2">Müşteri</th>
        <th scope="col" colspan="2">Adet</th>
        <th scope="col" colspan="2">Fiyat</th>
        <th scope="col">Düzenle</th>
        <th scope="col">Kaldır</th>
    </tr>

    @foreach (var satis in Model)
    {
        <tr>
            <th scope="row" colspan="2">@satis.Id</th>
            <td colspan="2">@satis.Urun</td>
            <td colspan="2">@satis.Musteri</td>
            <td colspan="2">@satis.Adet</td>
            <td colspan="2">@satis.Fiyat</td>
            <td><a class="btn btn-primary" asp-action="Guncelle" asp-route-id="@satis.Id">Güncelle</a></td>
            <td><a class="btn btn-warning" asp-action="Kaldir" asp-route-id="@satis.Id">Kaldır</a></td>
        </tr>
    }
</table>
<p>Toplam @Model.Count Satış bulunuyor</p>
<a class="btn btn-primary" asp-action="Ekle">Satış Ekle</a>
